
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap');

body {
    margin: 20px;
    font-family: 'Roboto Slab', serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #252323;
    color: #e5e5e5;
    border-bottom: 6px solid #fca311;
    border-right: 6px solid #fca311;
    border-radius: 25px 
}

img {
    border-radius: 15px;   
}

.border-blue {
    border: 1px dotted blue;
}

.paragraph {
    font-size: 15px;
}

.heading-3 {
    font-weight: 300px;
    font-size: 15px;
}

.heading-4 {
    font-weight: 400px;
    font-size: 25px;
}

a{
    color: #e5e5e5;
    text-decoration: none;
}

