body {
    text-align: center;
    background-color: #111426;
    color: #FFFFFF;
}

.table-el {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    background-color: #D19DFC;
    color: #240b38;
    border-radius: 50%;
}

p{
    padding: 3px 30px 3px 30px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #D19DFC;
}

#blank-space {
    margin-top: 50px;
}

