body {
  background-color: #1F2937;
  color: #fff;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
}

.main {
  max-width: 27.875em;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;  
}

.main--h1 {
  font-weight: 800;
  line-height: 40px;
  font-size: 40px;
  letter-spacing: -0.06255rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.h1--span {
  display: block;
  color: #4ADF86;
}

.main--h3 {
  color: #D5D4D8;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  max-height: 28px;
}

.main--btn {
  padding: 9px 17px ;
  background-color: #10B981;
  color: #fff;
  border: none;
  border-radius: 6px;
  resize: horizontal ;
  width: 191px;
  height: 42px;
}

hr {
  margin: 2rem 0;
  width: 446px;
  color: #2f3e53;
  opacity: 0.1;
}

.passwrds {
  display: flex;
}

.passwrds p {
  margin: 0.5rem;
  border-radius: 6px;
  width: 211px;
  height: 39px;
  background-color: #273549;
}
