body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

nav { 
    background-color: #242424;
    color: whitesmoke;
}

ul {
    padding: 25px 25px;
    margin-top: 0;
    display: flex;
    list-style: none;
}

#burger-icon {
    margin-left: auto;
}

.icon {
    width: 25px;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.caption {
    margin: 0px 25px;
    gap: 10px;
    justify-content: center;
}

.caption,
.img-bg{
    display: flex;
}

.item-banner {
    color: whitesmoke;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.item {
    position: relative;
}

.item-banner,
.btn {
    background-color: #cd6858;
}

.btn {
    padding: 10px 15px;
    color: whitesmoke;
    font-weight: 700;
    border: none;
    cursor: pointer;
    align-self: center;
}

.item-img {
    display: block;
}

.img-bg {
    background-color: #dda15e;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.img {
    width: 50%;
    margin: auto;
}

