|*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Poppings", sans-serif;
}

.navbar {
  height: 70px; 
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 200px;
  max-height: 64px;
}

.hero--div {
  max-width: 100%;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero--img {
  max-width: 395.91px;
  max-height: 232px;
}

.hero--heading {
  font-weight: 700;
  margin-left: 0;
}

.hero--text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  max-width: 300px;
  font-weight: 300;
}

.card--lists {
  display: flex;
  wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  padding: 20px 0px 40px 40px;
  margin-top: 0;
  max-width: 175px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  position: relative;
}

.card--img > img {
  width: 100%;
  max-height: 235px;
  border-radius: 9px;
}

.card--details {
  max-width: 176px;
  max-height: 58px;
}

.card--rating {
  font-size: 12px;
  display: inline-flex;
  flex-direction: row;
  max-height: 14px;
  margin-top: 5px;
  font-weight: 300;
}

.card--rating > img {
  max-width: 14px;
  max-height: 14px;
}

.card--rating > p {
  margin: 0 3px ;
  color: #222222;
}

.card--rating > p > span {
  color: #918E9B;
}

#tagline, #pricing {
  max-width: 175px;
  font-weight: 300;
  font-size: 12px;
}

#pricing > span {
  font-weight: 600;
}

